body, html {
    height: 100%;
    margin: 0;
    background-color: #000; /* fallback color */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background: url('../images/whale.jpeg') no-repeat center / cover; */

}
.masked-text {
    background: url('../images/whale.jpeg') no-repeat center / cover; 

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent; /* This will make the text itself transparent */
    line-height: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
}
.text {
    font-size: 12rem; /* Adjust size accordingly */
    font-weight: 700;
    text-align: right;
}
.inner-text{
    max-width: 8ch;
    line-height: 4.8rem;
    text-align: right;
    text-shadow: 0 0 5px #c8c8c8;

}
.not-masked-text {
    font-size: 6rem; /* Adjust size accordingly */
    font-weight: 700;
    background: url('../images/whale.jpeg') no-repeat center / cover; /* Path to your background image */
    /* -webkit-background-clip: text; */
    /* background-clip: text; */
    /* color: transparent; This will make the text itself transparent */
    /* text-align:left; */
    line-height: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
}